<div id="main">
  <%= render "group_show/groupmsglists" %>
  <div class = "textboxbg">
    <% if @m_channelsids.include? session[:s_channel_id].to_i %>
      <div class="textboxeditor">

        <div id="toolbar">
          <button class="ql-bold disable"></button>
          <button class="ql-italic disable"></button>
          <button class="ql-strike disable"></button>
          <button class="ql-link disable"></button>
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <button class="ql-blockquote"></button>
          <button class="ql-code-block"></button>
          <button id="highlight-text" class="btn-icon disable"><i class="fas fa-laptop-code"></i></button>
        </div>

        <div id="link-dialog" style="display: none;">
          <h3 id= "link-title">Add your link</h3>
          <input type="text" id="link-name" placeholder="Enter link name">
          <input type="text" id="link-url" placeholder="Enter URL">
          <button id="link-cancel">Cancel</button>
          <button id="link-save">Yes</button>
        </div>

        <div id="file-container" style="display: none; margin-top: 10px;"></div>

        <%= form_for(:session, url: groupmsg_path) do |f| %>
          <div class="col-md-11" draftData="<%= @t_group_messages.to_json %>" data-sender-id = "<%= session[:current_user_id] %>" id="form">
            <div id="editor" class="form-control" data-autocomplete-source="<%= @m_channel_users.map { |t| { label: "@" + t["name"] } }.to_json %>"></div>
            <%= f.hidden_field :message, id: "quill-content" %>
          </div>
          <div class="col-md-1 mt-10">
            <%= f.hidden_field :draft_status, value: false %>
            <%= f.submit "Send", class: "btn btn-primary sendbtn", id: "send_btn" %>
          </div>
          <%= f.hidden_field :memtion_name, class: "memtion_name" %>
        
          <div class="col-md-11">
            <%= f.file_field :file, id: 'file_input', style: 'display: none;', multiple: true %>
            <span onclick="document.getElementById('file_input').click();">
              <i class="fas fa-plus"></i>
            </span>
            <button class="glyphicon glyphicon-font icon togglebtn" id="toggle-toolbar"></button>
          </div>
        <% end %>
      </div>
    <% else %>
      <div style="padding-bottom: 20px" >
        <%= link_to "Join into channel", channeluserjoin_path(userid: session[:user_id]), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

<div>
  <%= render "leftpanel/leftpanel" %>
</div>


<script>

  // highlight
  var Inline = Quill.import('blots/inline');

  class HighlightBlot extends Inline {
    static create(value) {
      let node = super.create();
      node.setAttribute('class', 'highlight');
      return node;
    }

    static formats(node) {
      return node.getAttribute('class');
    }
  }

  HighlightBlot.blotName = 'highlight';
  HighlightBlot.tagName = 'span';
  Quill.register(HighlightBlot);

  // call quill
  document.addEventListener("DOMContentLoaded", function() {
    const toolbarOptions = [
      [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
      ['bold', 'italic', 'strike'],
      ['link'],
      [{ 'list': 'ordered'}, { 'list': 'bullet' }],
      ['blockquote', 'code-block'],
    ];

    const quill = new Quill('#editor', {
      modules: {
        toolbar: {
          container: '#toolbar',
          handlers: {
            link: function() {
              const range = this.quill.getSelection();
              if (range) {
                showLinkDialog(range);
              }
            }
          }
        }
      },
      placeholder: 'Type your message here ...',
      theme: 'snow'
    });

    var senderId = $('#form').data('sender-id');
    var t_group_messages = JSON.parse($('#form').attr('draftData'));
    var draft_message_arr = t_group_messages.find((t_group_message)=>{ 
      return (t_group_message.send_user_id == senderId && t_group_message.draft_message_status);
    });
    var isClickSendButton = false;
    var isSaveDraft = true;
    if (draft_message_arr != undefined ) {
      var draftedMessage = draft_message_arr.groupmsg;
      var draftSenderId = draft_message_arr.send_user_id;
      var draftedMessageId = draft_message_arr.id;
      isSaveDraft = false;
    }
    quill.setContents([{
      insert: draftedMessage,
    }]);
    document.querySelector('#send_btn').addEventListener('click', function() {
      isClickSendButton = true;
    });

    document.querySelector('form').addEventListener('submit', function(event) {
      var htmlContent = quill.getSemanticHTML();
      var quillContent = document.querySelector('#quill-content');
      htmlContent = htmlContent.replace(/<pre([^>]*)data-language="plain"([^>]*)>([\s\S]*?)<\/pre>/g, function(match, attr1, attr2, content) {
        content = content.trim().replace(/\n/g, '<br>');
        return `<div${attr1}class="ql-code-block"${attr2}>${content}</div>`;
      });
      htmlContent = htmlContent.replace(/<\/blockquote>\s*<blockquote>/g, '<br>');
      htmlContent = htmlContent.replace(/<\/p><p>/g, '<br>').replace(/<\/?p[^>]*>/g, '');
      quillContent.value = htmlContent;

      var files = document.getElementById('file_input').files;
      if(files.length > 0) {
        event.preventDefault();
        var messageContent = quillContent.value.trim();
        var draftStatus = false;
        var mention_names = document.querySelector('.memtion_name').value;
        var formData = {
          session: {
            message: messageContent,
            draft_status: draftStatus,
            memtion_name: mention_names,
          }
        };
        sendFormData(formData);
      }
    });

    $(window).bind('beforeunload', () => {
      var messageContent = quill.getText().trim();
      var files = document.getElementById('file_input').files;
      document.querySelector('form').addEventListener('submit', function(event) {
          event.preventDefault();
      });
      if (messageContent.length > 0 && !isClickSendButton && isSaveDraft) {
        var draftStatus = true;
        var formData = {
          session: {
            message: messageContent,
            draft_status: draftStatus,
          }
        };
        $.ajax({
          type: 'POST',
          url: '<%= groupmsg_path %>',
          contentType: 'application/json',
          data: JSON.stringify(formData),
          dataType: 'json',
          headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          },
        });
      }
      else if (messageContent.length > 0 && !isClickSendButton && !isSaveDraft) {
        var draftStatus = true;
        var formData = {
          id: draftedMessageId,
          session: {
            message: messageContent,
            draft_status: draftStatus,
          }
        };
        $.ajax({
          url: '<%= update_groupmsg_path %>',
          contentType: 'application/json',
          type: 'POST',
          dataType: 'json',
          data: JSON.stringify(formData),
          headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          }
        });
      }
      else if ((files.length > 0 && messageContent.length === 0 && isClickSendButton) || (files.length > 0 && messageContent.length > 0 && isClickSendButton)) {
        return;
      }
      else if (!isClickSendButton && messageContent.length === 0) {
        $.ajax({
          url: '<%= delete_groupmsg_path %>',
          type: 'GET',
          dataType: 'json',
          data:{id: draftedMessageId},
          headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          }
        });
      }
      else if (isClickSendButton && draft_message_arr) {
        var delete_draft_massage_id = draft_message_arr.id;
        $.ajax({
          url: '<%= delete_groupmsg_path %>',
          type: 'GET',
          dataType: 'json',
          data:{id: delete_draft_massage_id},
          headers: {
            'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
          }
        });
      }
    });

    // highlight start
    var isHighlighting = false;

    function updateButtonText() {
       
      if (isHighlighting) {
        document.querySelector('#highlight-text').classList.add('active');
      } else {
        document.querySelector('#highlight-text').classList.remove('active');
      }
    }

    function toggleHighlight() {
      var format = quill.getFormat();
      if (format.highlight) {
          quill.format('highlight', false);
          isHighlighting = false;
      } else {
          quill.format('highlight', true);
          isHighlighting = true;
      }
      updateButtonText();
      quill.focus();
    }

    quill.on('text-change', function() {
      var format = quill.getFormat();
        isHighlighting = !!format.highlight;
        updateButtonText();
    });

    document.querySelector('#highlight-text').addEventListener('click', function() {
      toggleHighlight();
      var htmlContent = quill.root.innerHTML;
      document.querySelector('#quill-content').value = htmlContent;
    });

    updateButtonText();
    //highlight end 

    //highlight btn status 
    quill.container.firstChild.addEventListener('keydown', function(event) {
      if (event.key === 'Enter') {
        isHighlighting = false;
        updateButtonText();
      }
    });

    // for link dialog 
    var range = quill.getSelection();
    quill.on('selection-change', function(range, oldRange, source) {
      if (range && range.length > 0) {
        var selectedText = quill.getText(range.index, range.length);

        if (selectedText) {
          $('#toolbar').removeClass("hidden");
        }

        $('#link-name').val(selectedText);

      }
    });

    function showLinkDialog(range) {
      document.getElementById('link-dialog').style.display = 'block';
      document.getElementById('link-name').focus();
      document.getElementById('link-save').onclick = function() {
        const linkText = document.getElementById('link-name').value;
        const linkUrl = document.getElementById('link-url').value;
        if (linkText && linkUrl) {
          quill.insertText(range.index, linkText,'link',linkUrl);
          if (range.length > 0) {
            quill.deleteText(range.index + linkText.length, range.length);
          }
          quill.setSelection(range.index + linkText.length, 0);
          hideLinkDialog();
        }
      };

      document.getElementById('link-cancel').onclick = function() {
        hideLinkDialog();
      };
    }

    function hideLinkDialog() {
      document.getElementById('link-dialog').style.display = 'none';
      document.getElementById('link-name').value = '';
      document.getElementById('link-url').value = '';
    }

    // Prevent Quill from losing focus when clicking inside the dialog
    document.getElementById('link-dialog').addEventListener('mousedown', function(event) {
      event.stopPropagation();
    });

    // for toggle toolbar 
    const toolbar = quill.getModule('toolbar');
    const toolbarui = document.getElementById('toolbar');
    const toggleButton = document.getElementById('toggle-toolbar');

    toggleButton.addEventListener('click', function() {
      toolbarui.classList.toggle('hidden');
    });

    // for mention select
    mention_names = [];
    $( "#editor" ).autocomplete({
        source: $('#editor').data('autocomplete-source'),
        position: {
          my: "left bottom",
          at: "left top",
      },
      select: function(event, ui) {
        event.preventDefault();
        var range = quill.getSelection();
        range.value = ui.item.value
        mention_names.push(range.value)
        $('.memtion_name').val(JSON.stringify(mention_names))
        // Check the text before the cursor
        var textBefore = quill.getText(range.index - 1, 1);
        if (textBefore === '@') {
          // Delete the @ before inserting the new text
          quill.deleteText(range.index - 1, 1);
          range.index -= 1;
        }
        quill.insertText(range.index, ui.item.label, "user");
        quill.setSelection(range.index + ui.item.label.length);
      }
    });

    quill.on('text-change', function(delta, oldDelta, source) {
      if (source === 'user') {
        const range = quill.getSelection();
        if (range) {
          const textBefore = quill.getText(range.index - 1, 1);
          if (textBefore === '@') {
            // const bounds = quill.getBounds(range.index);
            $("#editor").autocomplete("option", "position", {
              my: "left top",
              at: "left bottom",
              // of: bounds
            });
            $('#editor').val('@').focus().autocomplete('search', '@');
          }
        }
      }
    });

    quill.root.addEventListener('keydown', function(event) {
      if (event.key === 'Enter') {
        quill.on('text-change', function(delta, oldDelta, source) {
        if (source === 'user') {
          const range = quill.getSelection();
          if (range) {
            const textBefore = quill.getText(range.index, 1);
            if (textBefore === '@') {
              // const bounds = quill.getBounds(range.index + 1);
              $("#editor").autocomplete("option", "position", {
                my: "left top",
                at: "left bottom",
                // of: bounds
              });
              $('#editor').val('@').focus().autocomplete('search', '@');
            }
          }
        }
      });
      }
    });

    // validate btn
    var sendbtn = document.querySelector(".sendbtn");
    sendbtn.disabled = true;
    quill.on('text-change', function(delta, oldDelta, source) {
      checkSendButton();
    });

    // files
    var fileInput = document.getElementById('file_input');
    var imageDialog = document.getElementById('image-dialog');
    var dialogFilename = document.getElementById('dialog-filename');
    var fullImage = document.getElementById('full-image');
    var dialogClose = document.getElementById('dialog-close');
    var overlay = document.getElementById('overlay');

    function checkSendButton() {
      var editorContent = quill.getText().trim();
      var files = fileInput.files;
      var sendbtn = document.querySelector(".sendbtn");
      if(editorContent.length === 0 && files.length === 0) {
        sendbtn.disabled = true;
      } else {
        sendbtn.disabled = false;
      }
    }

    function updateFileInput(index) {
      const dt = new DataTransfer();
      const files = fileInput.files;
      for (let i = 0; i < files.length; i++) {
        if (i !== index) {
          dt.items.add(files[i]);
        }
      }
      fileInput.files = dt.files;
    }

    var dt = new DataTransfer();
    for (var j = 0; j < fileInput.files.length; j++) {
      dt.items.add(fileInput.files[j]);
    }
    fileInput.files = dt.files;

    fileInput.addEventListener('change', function(event) {
      var fileContainer = document.getElementById('file-container');
      const newFiles = event.target.files;
      if(newFiles.length > 0) {
        fileContainer.style.display = 'flex';
        fileContainer.style.flexWrap = 'wrap';
        for (var i = 0; i < newFiles.length; i++) {
          (function(file, index) {
            dt.items.add(file);
            fileInput.files = dt.files;
              
            // Create a container for each file
            var fileDiv = document.createElement('div');
            fileDiv.classList.add('file-item');

            // Create a remove button
            var removeBtn = document.createElement('span');
            removeBtn.classList.add('remove-btn');
            removeBtn.innerHTML = '&times;';
            
            (function(div, idx) {
              removeBtn.addEventListener('click', function() {
                div.remove();
                updateFileInput(idx);
                checkSendButton();
              });
            })(fileDiv, index);

            // Check if the file is an image
            if (file.type.startsWith('image/')) {
              var img = document.createElement('img');
              img.classList.add('file-image');
              
              var reader = new FileReader();
              reader.onload = function(e) {
                img.src = e.target.result;
              };
              reader.readAsDataURL(file);
              fileDiv.style.padding = '0px';
              fileDiv.style.width = '60px';
              fileDiv.style.height = '60px';
              fileDiv.appendChild(img);
              fileDiv.appendChild(removeBtn);

              img.addEventListener('click', function() {
                fullImage.src = img.src;
                dialogFilename.textContent = file.name;
                imageDialog.style.display = 'flex';
                overlay.style.display = 'block';
              });
            } else {
              // Create a small container for the file initial
              var initialDiv = document.createElement('div');
              initialDiv.classList.add('file-initial');
              
              // Determine the content and background color based on file type
              var fileType = file.type.split('/')[1];
              if (fileType === 'vnd.openxmlformats-officedocument.spreadsheetml.sheet' || fileType === 'vnd.ms-excel') {
                initialDiv.textContent = 'X';
                initialDiv.style.backgroundColor = 'green';
              } else if (fileType === 'plain') {
                initialDiv.textContent = 'T';
                initialDiv.style.backgroundColor = 'blue';
              } else if (fileType === 'x-zip-compressed') {
                initialDiv.innerHTML = '<i class="fas fa-file-zipper"></i>';
                initialDiv.style.backgroundColor = 'blue';
              } else if (fileType === 'pdf') {
                initialDiv.innerHTML = '<i class="fas fa-file-pdf"></i>';
                initialDiv.style.backgroundColor = 'red';
              } else if (fileType === 'vnd.ms-powerpoint') {
                initialDiv.textContent = 'P';
                initialDiv.style.backgroundColor = 'red';
              } else {
                initialDiv.innerHTML = '<i class="fas fa-file-alt"></i>';
                initialDiv.style.backgroundColor = 'blue';
              }

              // Create a div for the file details
              var detailsDiv = document.createElement('div');
              detailsDiv.classList.add('file-details');

              // Create elements for the file details
              var filenameSpan = document.createElement('span');
              filenameSpan.classList.add('filename-span');
              filenameSpan.textContent = file.name;

              var filesizeSpan = document.createElement('span');
              filesizeSpan.textContent = file.size < (1024 * 1024) 
                ? (file.size / 1024).toFixed(2) + ' KB' 
                : (file.size / (1024 * 1024)).toFixed(2) + ' MB'; // File size in KB or MB
              filesizeSpan.style.display = 'block';

              // Append file details to the detailsDiv
              detailsDiv.appendChild(filenameSpan);
              detailsDiv.appendChild(filesizeSpan);

              // Append all to fileDiv
              fileDiv.appendChild(removeBtn);
              fileDiv.appendChild(initialDiv);
              fileDiv.appendChild(detailsDiv);
            }
            fileContainer.appendChild(fileDiv);
            var files = document.getElementById('file_input').files;
          }) (newFiles[i], i);
        }
      } else {
        fileContainer.style.display = 'none';
      }
      checkSendButton();
    });

    dialogClose.addEventListener('click', function() {
      imageDialog.style.display = 'none';
      overlay.style.display = 'none';
    });

    // Hide the dialog when clicking outside the image
    imageDialog.addEventListener('click', function(event) {
      if (event.target === imageDialog) {
        imageDialog.style.display = 'none';
        overlay.style.display = 'none';
      }
    });

    overlay.addEventListener('click', function() {
      imageDialog.style.display = 'none';
      overlay.style.display = 'none'; // Hide the overlay
    });

    // Function to convert files to JSON data
    function filesToJSON(callback) {
      const fileInput = document.getElementById('file_input');
      const files = fileInput.files;
      const filesArray = [];
      let filesProcessed = 0;
      if (files.length === 0) {
        callback([]);
        return;
      }
      for (let i = 0; i < files.length; i++) {
        const file = files[i];
        const reader = new FileReader();
        reader.onload = function(e) {
          filesArray.push({
              data: e.target.result.split(',')[1],
              mime: file.type,
              file_name: file.name
          });
          filesProcessed++;
          if (filesProcessed === files.length) {
              callback(filesArray);
          }
        };
        reader.readAsDataURL(file);
      }
    }

    // Function to handle form submission
    function sendFormData(formData) {
        filesToJSON(function(filesArray) {
            formData['session']['files'] = filesArray;
            $.ajax({
              type: 'POST',
              url: '<%= groupmsg_path %>',
              contentType: 'application/json',
              data: JSON.stringify(formData),
              dataType: 'json',
              headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
              },
              complete : function(jqXHR, textStatus) {
                location.reload();
              },
            });
        });
    }
  });
</script>
